[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "*"
time = "*"
numpy = "*"
python-rtmidi = "*"
scipy = "*"
pyqt5 = "*"
pyqtgraph = "*"
events = "*"
pyinstaller = "*"

[requires]
python_version = ">3.7"
